@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');


/* NAV BAR */
.navbar {
    background-color: #366E22;
}

.navbar-brand {
    color:rgb(255, 255, 255);
    font-family: 'Koulen', cursive;
    font-size: 40px;
}

.nav-link {
    color: white;
}
.active {
    color: #bcffb3 !important;
    font-weight: bold;
}

#plan-dinner {
    font-weight: bold;
}

#sign-up {
    color: white;
}

.btn {
    color: white;
    background-color: #134402;
    width: 131px;
    height: 37px;
}
#button {
    display: flex;
    justify-content: center;
}

/* FIX THIS HOVER ON LOGO*/
.navbar-brand:hover{
    text-decoration: none;
}
/* FIX THIS HOVER ON LOGO*/


.navbar-toggler {
    color: white !important;
}
#sign-in {
    color: white;
    text-decoration: none;
}
#membership {
    display: flex;
    flex-direction: column;
}

#categories {
    display: flex;
    justify-content: center;
}
.category {
    width: 45%;
}
ul{
    display:flex;
    list-style-type: none;
}